<%- include('partials/head',{title:"Reset Password"}) %>
<%- include('partials/navbar') %>
    <div class="container">
        <h1>Reset Password</h1>
        <% if (typeof message !== 'undefined') { %>
            <div class="message">
                <p><%= message %></p>
            </div>
        <% } %>
        <form action="/reset-password<% if (typeof token !== 'undefined') { %>?token=<%= token %><% } %>" method="post">
            <% if (typeof token === 'undefined') { %>
                <label for="email">
                    <input type="email" name="email" placeholder="Email Address" id="email" required>
                </label>
                <button type="submit">Request Reset Link</button>
            <% } else { %>
                <label for="password">
                    <input type="password" name="password" placeholder="New Password" id="password" required>
                </label>
                <label for="password2">
                    <input type="password" name="password2" placeholder="Confirm New Password" id="password2" required>
                </label>
                <button type="submit">Reset Password</button>
            <% } %>
            <a href="/login">Back to Login</a>
        </form>
    </div>
<%- include('partials/footer') %>

